<form #gameForm="ngForm" name="gameForm" (ngSubmit)="onSubmit(gameForm)">
    <div class="form-group">
        <input type="text" name="gameId" #gameId class="form-control mb-2" [(ngModel)]="game.GameId" id="txbId"
            placeholder="ID" ngModel />
    </div>
    <div class="form-group">
        <input type="text" name="gameName" #gameName class="form-control mb-2" [(ngModel)]="game.GameName" id="txbName"
            placeholder="Game Name" ngModel />
    </div>
    <div class="form-group">
        <input type="text" name="player1" #player1 class="form-control mb-2" [(ngModel)]="game.Player1" id="txbPlayer1"
            placeholder="Player 1" ngModel />
    </div>
    <div class="form-group">
        <input type="text" name="player2" #player2 class="form-control mb-2" [(ngModel)]="game.Player2" id="txbPlayer2"
            placeholder="Player 2" ngModel />
    </div>
    <div class="form-group">
        <input type="text" name="winner" #winner class="form-control mb-2" [(ngModel)]="game.Winner" id="txbWinner"
            placeholder="Winner" ngModel />
    </div>
    <input type="submit" value="Search" class="btn btn-success btn-block btn-lg">
    <div class="alert alert-danger" *ngIf="gamesFound">No matching games found</div>
</form>